<p>Prout prout!</p>
<div class="card" style="width: 18rem">
  <img
    src="https://i.ytimg.com/vi/dBpOCditrv4/mqdefault.jpg"
    class="card-img-top"
    alt="A cat"
  />
  <div class="card-body">
    <h5 class="card-title">The munchkin cat</h5>
    <p class="card-text">
      A little cute companion who does'n't even know how to attack, he can't
      neither make the difference between an ennemy or a comrade nor grab
      something with his tiny legs. His only quality is his cuteness.
    </p>
    <div class="row">
      <a href="#" class="btn btn-primary">CLASS : useless being</a>
      <a href="#" class="btn btn-primary">CLASS : useless being</a>
      <a href="#" class="btn btn-primary">CLASS : useless being</a>
    </div>
  </div>
</div>
